
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pineapples again in flask and control flow</title>
</head>
<body>
    <h1>pineapples again in flask number four</h1>
    <!-- boolean for users -->
    {% if userLoggedInHTML %}
    <h2>My List: {{aHTMLList}}</h2>
    <ul>
       <!-- displaying all items on the List using Jinja-->
        <!-- this is a standard python 'for' loop -->
        {% for singleEl in aHTMLList %} 
        <li style="color:orange">{{singleEl}}</li>
        {% endfor %} 

<!-- for user boolean above -->
{%else%}
        <!-- this is a standard python 'if' statement-->
        {% if "pink" in bHTMLList %} 
        <p>FOUND PINK</p>
        {%elif "navy" in bHTMLList%}
        <p>FOUND NAVY</p>
        {%else%}
        <p>NO PINK or NAVY</p>
        {% endif %} 

    </ul>
<!-- end user boolean  -->
{%endif%}

</body>
</html>